future
emoji
lxml
beautifulsoup4
bs4
bing_image_downloader
requests==2.20.0
sqlalchemy==1.3.23
python-telegram-bot==12.0.0
psycopg2-binary
feedparser
pynewtonmath
pybase64
html2text
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
google_trans_new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
malclient
tswift
telethon==1.16.4
telegram
mtranslate
fontTools
spamwatch
alphabet_detector
pyrate-limiter
parsel
pyrogram
pytz
redis
gtts
cachetools
ujson
pathlib
pySmartDL
pretty_errors
validators
hachoir
youtube_dl
